{#
/**
 * @file
 * Theme to display full news teaser.
 *
 * @see hfc_bane_preprocess_hfc_bane_news_teaser()
 */
#}
{%
  set classes = [
    'hfc-bane-news',
    'hfc-bane-news-teaser',
    'grid-child',
  ]
%}
<article id="hfccbane-{{ nid }}"{{ attributes.addClass(classes) }}>
  {% if event_date %}
    <span class="date-display-single">{{ event_date|date('M j') }}</span>
  {% endif %}
  <a class="newsgrid-title-link" href="{{ node_url }}">
    {{ photo|raw }}
    <h3>{{ title }}</h3>
  </a>
  <div class="content">{{ body }}</div>
</article>
