{#
/**
 * @file
 * Theme to display article thumbnail and title only.
 *
 * @see hfc_bane_preprocess_hfc_bane_news_tiny()
 */
#}
{%
  set classes = [
    'hfc-bane-news',
    'hfc-bane-news-tiny',
    'grid-child',
  ]
%}
<article id="hfccbane-{{ nid }}"{{ attributes.addClass(classes) }}>
  <div class="article-thumbnail">{{ thumbnail|raw }}</div>
  <div class="article-title">{{ title }}</div>
</article>
